*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    font-family:'Poppins', sans-serif;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: #1A4156;
    color: white;
    width: 18%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}
.logo img{
    width: 40px;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.top-navigation{
    display: flex;
    flex-direction: column;
    top: 0;
    padding: 3px;
}

.nav-button{
    padding: 3px;
    border-radius: 5px;
}
.nav-button.active{
    background: #FF9E00;
    color: #1A4156;
}
.nav-button{
    cursor: pointer;
    background: inherit;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 2px;
}
.nav-button, button{
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.bottom-navigation{
    display: flex;
    flex-direction: column;
    padding: 3px;
    border-top: 1px solid white;
}
.bottom-navigation, a, button{
    background: inherit;
    border: none;
    padding: 3px;
    font-family:'Poppins', sans-serif;
}
.bottom-navigation, a, button, img{
    margin-right: 6px;
}

.dashboard-layout{
    display: flex;
    flex-direction: column;
    width: 82%;
}

.icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.icons-left{
    display: flex;
    align-items: center;
}
.left-icon{
    background: rgb(190, 190, 190);
    padding: 4px;
    border-radius: 50%;
}
.profile{
    border-radius: 50%;
    object-fit: cover;
}

.content{
    background: #F4F4F4;
    height: 100%;
    padding: 1rem;
}